<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>幼儿园万岁</title>
<style>
body
{
	background-color:#d0e4fe;
}
h1
{
	color:orange;
	text-align:center;
}
p
{
	font-family:"Times New Roman";
	font-size:20px;
}
</style>
</head>

<body>

<h1>试试看有没有头</h1>
<p>baby switch 的幼儿园作品</p>

</body>
</html>
